# Public Vars
NEXT_PUBLIC_APP_NAME=Goalwave
NEXT_PUBLIC_APP_DESCRIPTION=Empower your financial journey – Set, track, and achieve your goals effortlessly with Goalwave.

# Authentication
BETTER_AUTH_SECRET=your_secret_auth_key
BETTER_AUTH_URL=http://localhost:3000

# Database Configuration
DATABASE_URL=your_database_connection_string

# Email Configuration
RESEND_API_KEY=resent_api_key
RESEND_FROM_EMAIL=from email

# OAuth Google Configuration
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret_key